
.narrow {
  width: 200px;
  height: 200px;
}
img {
  border: 1px solid black;
  margin: 10px 0;
}
.cover {
  object-fit: cover;
}
.gallery-item {
  text-align: center;
  width: 200px;
}
.gallery {
  display: flex; 
  gap: 20px; 
  justify-content: center;
  cursor: pointer; 
}
.flip-card {
    background-color: transparent;
    width: 200px;
    height: 250px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}
.flip-card-inner.flipped {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    top: 0;
    left: 0;
}

.flip-card-front {
    background-color: #bbb;
    color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flip-card-back {
    background-color: dodgerblue;
    color: aliceblue;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

